[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-crispy-forms = "*"
django-cleanup = "*"
pyqrcode = "*"
pillow = "*"
pypng = "*"

[requires]
python_version = "3.8"
