<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f27026538d.js" crossorigin="anonymous"></script>

</head>
<style>
    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .asteriskField {
        display: none;
    }

</style>

<body>
{% load crispy_forms_tags %}

<div style="width: 400px">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'info' %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% else %}
                <div class="alert alert-error">
                    {{ message }}
                </div>
            {% endif %}

        {% endfor %}
    {% endif %}
    <h1>
        Shorten your URL!⚡
    </h1>


    <div class="form-wrapper">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit">
                Create URL ✨
            </button>
        </form>
    </div>

    {% if url %}
        <hr>
        <h1>Your new URL 😱</h1>
        <div>
            <a class='link' href="{{ url }}">Go to</a>
            <div style="width: 100%">
                <p style="display: inline-block; border-radius: 5px; width: 339px"
                   class="p-3 mb-2 bg-light text-dark" id="raw-url">{{ url }}</p>
                <button onclick="copy()"
                        style='display: inline-block !important; height: 56px; width: 56px; transform: translateY(-2px)'
                        class="btn btn-primary"><i
                        class="far fa-copy"></i>
                </button>
            </div>

        </div>
    {% endif %}
</div>

<script>
    function copy() {
        var copyText = document.getElementById("raw-url");
        var textArea = document.createElement("textarea");
        textArea.value = copyText.textContent;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand("Copy");
        textArea.remove();
    }
</script>
</body>
</html>